
a {
    text-decoration: none;
}

.navbar-main {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.logindiv {  
    min-height: 100vh;
    background: linear-gradient(to right, #EC6EAD, #3494E6); 
    align-items: center;
}

.logindivinner {
    min-height: 100vh;
}

.bg-color-frost{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.statdiv {
    border-radius: 15px;
}

.loginform {
    border-radius: 15px;
    background-color: white;
    height: auto;
    width: 27%;

}

.innerform {
    padding: 3rem;
    height: auto;
}

.forminput {
    border : none ;
    outline: none;
}

.forminputdiv {
    
    border-bottom: 2px solid #cccccc;
}

.greetingdiv {
    background : #275296 !important;
}


.totalpwdiv {
    background: linear-gradient(to left, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.utilitiesdiv {
   
    background: #fceabb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.formbutton {
    background: linear-gradient(to right, #EC6EAD, #3494E6); 
    border: none;
    color: white;
    border-radius: 15px;
    height: 2.5rem;
}

.maindiv {
    min-height: 100vh !important;
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,9,121,1) 0%, rgba(0,212,255,1) 100%) !important;
}

.navdiv {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.btn-login {
    background-color: #1E2F97;
}

.buttonsdiv {
    display: flex;
    align-items: center;
}

.outerintrodiv {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.introdiv{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.introline {
    font-size: 2rem;
    font-weight: bold;
}

.introline-2 {
    font-size: 1rem;
}

.image-intro {
    margin-top: 5rem;
    border-image : 2px solid white;
    border-radius: 15px;
}

.inner-intro-text {
    font-size: 2rem;
    text-align: initial;
}

.inner-div {
    display: flex;
    justify-content: center;
    flex:1; 
    align-items: center;
    flex-direction: column;
}

.dropdown {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border-radius: 10px;
}

.img-fluid {
    border-radius: 15px;
    opacity: 1;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.imageintro-btn {
    margin-top: 2rem;
}

.cardbg {
   
   
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}



@media only screen and (max-width: 768px) {
    .navbrowse {
        display: inline !important;
    }
    .hidenavlinks {
        display: none !important;
    }
    .navdiv {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .introdiv{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .inner-intro-text {
        font-size: 1.5rem !important;
        text-align: center !important;
    }
    .image-intro {
        padding-top: 1.5rem !important;
        margin-top: 2rem !important;
    }
    .loginform {
        border-radius: 15px !important;
        background-color: white !important;
        max-height: 70% !important;
        width: 85% !important;
    }

    .bottomnavlink {
        margin-top: 2rem !important;
    }

    .logindiv {  
        min-height: 100vh;
        background: linear-gradient(to right, #EC6EAD, #3494E6); 
        align-items: center;
     
    }

    .statsdiv {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .greetingfont {
        font-size: 1.8rem !important;
    }

    .outerstatsdiv {
        padding-right: 0 !important;
    }
    .outerstatsdiv2 {
        padding-top: 1rem !important;
        padding-right: 0 !important;
    }
    .outerstatsdiv3 {
        padding-top: 1rem !important;
        padding-right: 0 !important;
    }

    .tablediv {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .mrightadjust {
        margin-right: 0.5rem !important;
    }

    .mleftadjust {
        margin-left: 0.5rem !important;
    }
  }




  @media only screen and (max-width: 354px) {

    .mleftadjust {
        margin-left: 1rem !important;
        width: 9rem !important;
    }

    .maininput {
        width: 5rem !important;
    }

  }